.petal{

position:absolute;

top:-80px;

width:32px;
height:32px;

background-image:
url("../../assets/decorations/petal.png");

background-size:contain;

background-position:center;

background-repeat:no-repeat;

opacity:.75;

animation:petalFall linear infinite;

}

@keyframes petalFall{

0%{

transform:
translateY(-100px)
rotate(0deg);

}

100%{

transform:
translateY(120vh)
translateX(80px)
rotate(360deg);

}

}