.music-player{

position:fixed;

bottom:20px;
right:20px;

width:280px;

padding:18px;

background:rgba(255,255,255,.92);

backdrop-filter:blur(12px);

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.18);

z-index:9999;

}

.music-vinyl{

display:flex;

justify-content:center;

align-items:center;

margin-bottom:18px;

position:relative;

}

.music-cover{

position:absolute;

width:70px;
height:70px;

border-radius:50%;

z-index:2;

object-fit:cover;

}

.vinyl{

width:150px;
height:150px;

border-radius:50%;

background:
radial-gradient(circle,#111 0,#111 25%,#444 26%,#111 100%);

}

.music-vinyl.playing{

    animation:spin 5s linear infinite;

    transform-origin:center;

}

.music-controls{

display:flex;

justify-content:center;

gap:12px;

margin-bottom:15px;

}

.music-controls button{

border:none;

cursor:pointer;

padding:10px 14px;

border-radius:50%;

background:#eea1cd;

color:white;

}

.music-time{

display:flex;

justify-content:space-between;

font-size:.8rem;

margin-top:8px;

}

#musicProgress{

width:100%;

}

@keyframes spin{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}